<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- Activates various annotations to be detected in bean classes -->
    <context:annotation-config/>
    

    <bean id="empresaServiceBean" class="com.maldives.service.EmpresaService"/>
    <bean id="usuarioServiceBean" class="com.maldives.service.UsuarioService"/>
    <bean id="signUpServiceBean" class="com.maldives.service.SignUpService"/>
    <bean id="empresaRepositoryBean" class="com.maldives.repository.EmpresaRepository"/>
    <bean id="usuarioRepositoryBean" class="com.maldives.repository.UsuarioRepository"/>
    
    <bean id="empresaService" class="com.maldives.service.EmpresaService">
    	<property name="empresaRepository" ref="empresaRepositoryBean"/>
    </bean>
    
    <bean id="usuarioService" class="com.maldives.service.UsuarioService">
    	<property name="usuarioRepository" ref="usuarioRepositoryBean"/>
    </bean>
    
    <bean id="signUpService" class="com.maldives.service.SignUpService">
    	<property name="empresaService" ref="empresaServiceBean"/>
    	<property name="usuarioService" ref="usuarioServiceBean"/>
    </bean>
    
</beans>